@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(248, 244, 28) );
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
    margin: 20px;
    color: white;
    font-family: "Lilita One", sans-serif;
    font-size: 2.5rem;
    text-shadow: rgb(78, 78, 78) 5px 5px 5px;
}


.containerflex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding: 20px;
    flex-wrap: wrap;
}


.containerflex > div {
    flex: 1 1 300px;
    max-width: 350px;
    padding: 15px;
    border-radius: 12px;
    transition: all 0.8s ease;
    text-align: center;
}

.containerflex div:hover {
    transform: scale(1.05);
}

.homerDiv {
    background-color: #FADA00;
    color: #003366;
}


.margieDiv {
    background-color: #1C39BB;
    color: white;
}


.bartDiv {
    background-color: #ED1C24;
    color: #FADA00;
}


.fotohomer {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 15px auto 15px auto;
    border-radius: 15px;
    display: block;
    
}
.fotomargie, .fotobart {
     width: 100%;
    max-width: 300px;
    height: auto;
    margin: 15px auto 122px auto;
    border-radius: 15px;
    display: block;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
}

footer p {
    background-color: #FADA00;
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
}

.redes {
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.redes:hover {
    transform: scale(1.2);
}


footer a {
    text-decoration: none;
}


@media (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }

    .containerflex {
        gap: 20px;
    }

    .containerflex > div {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
        margin: 15px;
    }

    .containerflex > div {
        flex: 1 1 100%;
        max-width: 100%;
    }

    footer p {
        font-size: 0.9rem;
        width: 90%;
    }
}
